@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Inter:wght@300;400;500;600&display=swap');

@theme {
  --color-deep-space: #0A192F;
  --color-cosmic-purple: #6C63FF;
  --color-satellite-cyan: #00C9FF;
  --color-orbit-green: #00FFAB;
  --color-solar-yellow: #FFD700;
  --color-error-red: #FF4C4C;
  --color-medium-gray: #A0AEC0;

  --font-orbitron: 'Orbitron', monospace;
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
